<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Customer List</title>
</head>
<body>
	<h1>Customer List</h1>
	
	
	
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="customer : ${customerList}">
			<td th:text="${customer.firstName}"></td>
			<td th:text="${customer.lastName}"></td>
			<!-- <td><a th:href="@{/deleteCustomer(customerId=${customer.id})}">Delete</a></td> -->
		</tr>
	</table><br/><br/>
	<a href="/home">Click here to create new customer</a>
	
</body>
</html>